/* Reset Css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #ba35a2;
}
a {
  color: #000;
}

img,
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 2rem 4rem;
}
